
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #c9b1b1;
  color: #333;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  background-color: #0f172a;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

section {
  padding: 30px 20px;
  margin: 20px auto;
  background-color: white;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

ul li::before {
  content: "✔️ ";
  margin-right: 6px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  background-color: #0f172a;
  color: white;
  padding: 20px;
  margin-top: 40px;
}

#toTopBtn {
  position: fixed;
  bottom: 40px;
  right: 20px;
  padding: 10px 15px;
  background: #0f172a;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}
